h1 {
  font-size: 5rem;
}

button {
  font-size: 2rem;

  padding: 10px;
  margin: 10px;
  border-color: black;
  border-width: 3px;
  
}

.green {
  color: green;
}

.blue {
  color: blue;
}

.red {
  color: red;
}